/**
 * Main stylesheet of the project.
 */

body {
  background-color: #cadcf7;
  font-family: 'Roboto', sans-serif;
}

#main-content {
  /* padding-top should match header's height */
  padding-top: 100px;
}

.assunto {
  font-weight: bold;
  font-style: italic;
}
.paragrafo {
  padding: 0 120px 0 120px;
}
.prepblock {
  background-color: #dee9fc;
  width: 100%;
}
blockquote {
  padding: 40px;
}
.recuo { 
  text-indent: 4em; 
}
.imprensa {
  width: 800px;
}
.reftitulo {
  font-style: italic;
}